**Latihan Struktur Data Set**

In [8]:
Set1 = {5, False, 8.5, "empat"}

print(type(Set1))

<class 'set'>

In [9]:
#Sifat-sifat Set

#Tidak terurut / unordered
print("memanggil Set Set1 dengan indeks urutan :", Set1[0:4])

TypeError: ignored

In [10]:
#Tidak dapat diganti / immutable
Set1[3] = 4.5
print("Set1 setelah diganti elemennya :", Set1)

TypeError: ignored

In [11]:
#Dapat diindeks ? slicing
Set1 = {5, False, 8.5, "empat"}
print("slicing set Set1 :", Set1[1])

TypeError: ignored

In [12]:
#dapat diijinkan duplikasi
Set1 = {5, 5, False, 8.5, "empat", "empat"}
print("duplikat pada set Set1 :", Set1)

duplikat pada set Set1 : {False, 8.5, 'empat', 5}

**Latihan 1 Struktur Data Dictionary**

In [13]:
Dict1 = {5:'value','key':10}

print(Dict1)

{5: 'value', 'key': 10}

**Latihan 2 Struktur Data Dictionary**

In [14]:
Dict1['key']

10

In [15]:
print("Dict1['key'] = ", Dict1['key']);

Dict1['key'] =  10

**Latihan Konversi Strutur Data**

In [17]:
#Mengkonversi struktur data list :

#membuat 2 list
List1 = [2, 4, 6, 8]
List2 = [1, 3, 5, 7]

In [18]:
#mengkonversi struktur data list
k_tuple = tuple(List1)
k_set = set(List2)
k_dict = dict(zip(List1, List2))
#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(2, 4, 6, 8)
{1, 3, 5, 7}
{2: 1, 4: 3, 6: 5, 8: 7}

In [19]:
#Mengkonversi struktur data tuple :

#membuat dua tuple 
Tuple1 = (2, 4, 6, 8)
Tuple2 = (1, 3, 5, 7)

In [20]:
#mengkonversi struktur data tuple
k_list = list(Tuple1)
k_set = set(Tuple2)
k_dict = dict(zip(Tuple1, Tuple2))
#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[2, 4, 6, 8]
{1, 3, 5, 7}
{2: 1, 4: 3, 6: 5, 8: 7}

In [21]:
#Mengkonversi struktur data set :

#membuat dua set
Set1 = {2, 4, 6, 8}
Set2 = {1, 3, 5, 7}

In [22]:
#mengkonversi struktur data set
k_list = list(Set1)
k_tuple = tuple(Set2)
k_dict = dict(zip(Set1, Set2))
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[8, 2, 4, 6]
(1, 3, 5, 7)
{8: 1, 2: 3, 4: 5, 6: 7}

In [23]:
#Mengkonversi struktur data dictionary :
Dict = {"nama" : "Fairuz",
"prodi" : "matematika",
"angkatan" : 2020
}

In [24]:
#mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(Dict.keys())
k_tuple = tuple(Dict.values())
k_set = set(Dict.keys())
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'prodi', 'angkatan']
('Fairuz', 'matematika', 2020)
{'prodi', 'nama', 'angkatan'}

**Latihan 1 Struktur Data String**

In [25]:
#membuat variabel bertipe string
S = "Saya sedang belajar bahasa Python"
print(S)

Saya sedang belajar bahasa Python

In [29]:
#slicing pada string
S = "Saya sedang belajar bahasa Python"
print("Kalimat setelah dihilangkan karakter pertama dan terakhirnya :", S[1:32])

Kalimat setelah dihilangkan karakter pertama dan terakhirnya : aya sedang belajar bahasa Pytho

**Latihan 2 Struktur Data String**

In [30]:
#mengganti huruf vokal menjadi huruf "i" pada string sebelumnya
S = S.replace('a','i')
S = S.replace('u','i')
S = S.replace('e','i')
S = S.replace('o','i')
print(S)

Siyi siding bilijir bihisi Pythin